<div class="nav-bar">
  <%= render 'partials/nav' %>
</div>
<br>
<div class="forrgba white-text">

<div class="experiencepage">
  <div class="experience ex">
    <!-- <img src="https://static.pexels.com/photos/273886/pexels-photo-273886.jpeg", id="experience_img" /> -->
    <h3>Experience</h3>
  </div>
</div>

<!-- ####### swdeveloper #######  -->
<div class="text-webdeveloper">
  <h3> (Feb. 2017 - ) </h3>
  <h3>Web developer</h3>
</div>
 <div class="webdeveloper">
   <a href="https://www.coderfactoryacademy.edu.au/"><%= image_tag 'cfa-logo.png', id:"cfa-logo_img" %></a>
 </div>

 <div class="container-webdeveloper">
   <div class="row">
     <div class="codingskill col m3">
       <div class="ruby">
         <%= image_tag 'Ruby.png', id:"ruby_img" %>
       </div>
        <h3>Ruby</h3>
     </div>
     <div class="codingskill col m3">
       <div class="ruby_on_rails">
         <%= image_tag 'Ruby_on_Rails.png', id:"rails_img" %>
       </div>
       <h3>Ruby on rails</h3>
     </div>
     <div class="codingskill col m3">
       <div class="html">
         <%= image_tag 'HTML5_Logo_512.png', id:"html_img" %>
       </div>
        <h3>HTML</h3>
     </div>
     <div class="codingskill col m3">
       <div class="css">
         <%= image_tag 'logo-css3.png', id:"css_img" %>
       </div>
       <h3>CSS</h3>
     </div>
   </div>
 </div>
<!-- ###########################  -->

<!-- ####### petrochemicals trading company ####### -->
 <div class="mbc">
   <div class="petrochemicals">
     <h3> (Apr. 2013 - Nov. 2016) </h3>
     <h3>Petrochemicals trading company<h3>
     </div>
   <div class="flex-container-mbc">
     <div class="row">
  <br>
  <br>
       <div class="salespart col m4">
         <div class="sales">
           <%= image_tag 'shakehands.png', id:"shakehands_img" %>
           <h3>Sales, Consulting</h3>
         </div>
       </div>
       <div class="marketerpart col m4">
         <div class="marketing">
           <img src="https://static.pexels.com/photos/95916/pexels-photo-95916.jpeg" id="marketing_img" />
           <h3>Marketing</h3>
         </div>
       </div>
       <div class="logisticspart col m4">
         <div class="logistics">
           <img src="https://static.pexels.com/photos/122164/pexels-photo-122164.jpeg" id="logistics_img" />
           <h3>Logistics management</h3>
         </div>
       </div>
      </div>
     </div>
  </div>
 <!-- ##########################################  -->

 <!-- ####### University #######  -->

  <div class="university">
    <div class="flex-container-mbc">
      <div class="row">
        <div class="waseda">
          <h3> (Apr. 2009 - Mar. 2013) </h3>
          <h3>WASEDA UNIVERSITY</h3>
        </div>
   <br>
   <br>
        <div class="studypart col m4">
          <div class="major">
            <a href="https://www.waseda.jp/fsss/sss/en/"><%= image_tag 'IR.png', id:"IR_img" %></a>
            <h3>Bachelor of Social Science (International Relation)</h3>
          </div>
        </div>

        <div class="tennispart col m4">
          <div class="tennis-event">
            <img src="https://static.pexels.com/photos/171568/pexels-photo-171568.jpeg" id="tennis_img" />
            <h3>Managing tennis event organization</h3>
          </div>
        </div>

        <div class="jobspart col m4">
          <div class="waiter">
            <%= image_tag 'jpfood.png', id:"jpfood_img" %>
            <h3>Waiter at Sushi restaurant</h3>
          </div>
        </div>
    </div>
  </div>
</div>
 <!-- ###########################  -->
